DEEPGRAM_API_KEY=your-deepgram-api-key

OPENAI_API_KEY=your-openai-api-key

LIVEKIT_URL=your-livekit-url
LIVEKIT_API_KEY=your-livekit-api-key
LIVEKIT_API_SECRET=your-livekit-api-secret

AWS_ACCESS_KEY_ID=your-aws-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
AWS_REGION=your-aws-region

PINECONE_API_KEY=your-pinecone-api-key
PINECONE_ENV=your-pinecone-env
PINECONE_INDEX_NAME=your-pinecone-index-name
